body {
  background-color: #333;
  color: #ccc;
  padding: 0 1rem;

  h1 {
    color: orange;
  }

  nav {
    background-color: #222;
    padding: 0.5rem;
    a {
      color: #aaa;
      text-decoration: none;
      margin-right: 1rem;
    }

    a.active {
      color: rgb(211, 211, 110);
    }
  }

  .pageUseFetch {
    p.loading {
      font-size: 1rem;
      color: #ea5c28;

      .spinner {
        animation: spin infinite 2s linear;
      }

      @keyframes spin {
        from {
          transform: rotate(0deg);
        }

        to {
          transform: rotate(360deg);
        }
      }
    }
  }

  .pageUseToggle {
		.positive {
			color: greenyellow;
		}
		.negative {
			color: red;
		}
	}
}
